@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Confirmation";
}

@model IS413_Provo_Rest_Assignment4_ZS.Models.User_Restaurants

<h1>Success!!!!</h1>

<br />

<h2>We have received your submission. Click <a asp-action="User_Submitted_Restaurants">here</a> to see a list of user submissions.</h2>